{
margin 0;
padding 0;
}

.cabecalho{
    background-color: #696565;
    color: aqua;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 50%;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
}

.Programacao-div-conteudo{
    width: 65;

}

.Programcao-titulo{
    padding: 50px;
}